@import 'components/vars'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-size: 18px
    margin: 0
    font-family: 'Josefin Sans', sans-serif
    font-weight: 400
    background-color: $color-dark

.container
    width: 1440px
    max-width: 1440px

@import 'components/header'

.btn
    background-color: $color-accent
    color: $color-white
    text-transform: uppercase
    font-family: 'Josefin Sans', sans-serif
    font-size: .8rem
    padding: 13px 33px
    border: none
    outline: none
    border-radius: 2px
    cursor: pointer

@import 'components/hero'

@import 'components/completed'

@import 'components/carousel'
