.control
    text-align: center
    background-color: #fff
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    &_inner
        position: absolute
        top: -50%
        left: 50%
        transform: translate(50%, -50%)
        &-title
            font-family: 'Yeseva One', cursive
            font-size: 1.1rem
            color: $color-white
            text-transform: uppercase
            display: inline-block
            width: 100%
            text-align: center
        &-icon
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 30px
            &:before
                content: ""
                display: block
                background-color: #E3B873
                height: 1px
                width: 50px
            &:after
                content: ""
                display: block
                background-color: #E3B873
                height: 1px
                width: 50px
        &-video
            margin-bottom: 98px
        &-line
            width: 50px
            height: 1px
            background-color: $color-accent
        &-text
            color: $text-dark
            font-size: 1rem
            font-weight: 300
            margin-bottom: 90px