.control
    &_title
        font-family: 'Yeseva One', cursive
        font-size: 1.1rem
        color: $color-white
        text-transform: uppercase
        display: inline-block
        width: 100%
        text-align: center
        &-icon
            display: flex
            justify-content: center
            align-items: center
            &:before
                content: ""
                display: block
                background-color: #E3B873
                height: 1px
                width: 50px
            &:after
                content: ""
                display: block
                background-color: #E3B873
                height: 1px
                width: 50px
