section.control
    .control_inner
        h2.control_inner-title Online control
        .control_inner-icon
            img(src="img/control-title-icon.svg" alt="Control Icon")
        .control_inner-video
            iframe(width="817" height="434" src="https://www.youtube.com/embed/Gr-K6OQIDPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .control_inner-line
        p.control_inner-text.col-4 At each facility, a camera is installed that broadcasts the progress of work on the clock.
            | At any time, you can go to our website and monitor the progress of work in your
            | apartment. You can watch the live broadcast from one of our facilities!
            | Leave a request below and you will receive a link to the broadcast.
