section.control
    .control_inner
        h2.control_title Online control
        .control_title-icon
            img(src="img/control-title-icon.svg" alt="Control Icon")
        .control_video
            iframe(width="817" height="434" src="https://www.youtube.com/embed/ajtv-urp18I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .control_line
        p.control_text.col-6 At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities!
                        | Leave a request below and you will receive a link to the broadcast.
