section.control
    h2.control_title Online control
    .control_title-icon
        img(src="img/control-title-icon.svg" alt="Control Icon")
    .control_video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/ajtv-urp18I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
