.hero
    .row
        .hero_insta
            a.hero_insta-link(href="#" alt="Instagram") Instagram
            .hero_insta-line
        .hero_content
            .hero_content-inner.col-6
                h1.hero_content-title Turnkey Repair in the city of <br><span>Rostov-on-Don</span>
                .hero_content-text Get ready-made turnkey repairs on time <br>with work time saving up to 45 days and 20% from<br> cost of materials due to the organization of work
                .hero_content-btn
                    button.btn.hero_btn-accent Calculate the cost
                    button.btn.hero_btn-ghost.ml-3 Submit your application