doctype html
html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Online Till
    body
        h1 My site
        header.header
            .container
                .row
                    .col
                        img.logo(src="img/logo.svg" alt="Digital Services Center")
                    <!-- /.col -->
                    .col
                        nav.header_nav
                            mixin nav-links(href,alt,name)
                                a.header_nav-links(href= href, alt= alt)= name
                            +nav-links('#','Home','Home')
                            +nav-links('#','Projects','Projects')
                            +nav-links('#','Measurement','Measurement')
                            +nav-links('#','Team','Team')
                            +nav-links('#','Reviews','Reviews')
                            +nav-links('#','Contacts','Contacts')

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')